<!-- form-profile.html -->

<!--<div flex-xs="" flex-gt-xs="50" layout="column">-->
<main class="card-collection">
  <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch="">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Church Details</span>
    </md-card-title-text> 
  </md-card-title>
  <md-card-content>
      <div class="form-group col-md-9">
          <label for="name">Church or Organization Name</label>
          <input type="text" class="form-control" name="name" ng-model="vm.organization.name">
      </div>
      <div class="clearfix" style="clear: both;"></div>
      <div class="form-group col-md-12">
          <label for="name">Description</label>
          <textarea class="form-control" name="description" ng-model="vm.item.description"></textarea>
      </div>
  </md-card-content>
  </md-card>
  
  
  <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch="">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Contact Information</span>
    </md-card-title-text> 
  </md-card-title>
  <md-card-content>
      <div class="form-group col-md-6">
          <label for="name">Email</label>
          <input type="email" class="form-control" name="email" ng-model="vm.item.email">
      </div>
      <div class="form-group col-md-6">
          <label for="name">Telephone</label>
          <input type="telephone" class="form-control" name="telephone" ng-model="vm.item.telephone">
      </div>
  </md-card-content>
  
  </md-card>
  
  
  <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch="">
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Location</span>
    </md-card-title-text> 
  </md-card-title>
  <md-card-content>
      <div class="address-group">
          <div class="form-group col-md-6">
              <label for="address">Country</label>
              <input type="text" class="form-control" name="address_country" ng-model="vm.organization.address_country">
          </div>
      
          <div class="form-group col-md-6">
              <label for="address">Address</label>
              <input type="text" class="form-control" name="address_line1" ng-model="vm.organization.address_line1">
          </div>
      
          <div class="form-group municipality col-sm-6">
              <label for="address">Municipality</label>
              <input type="text" class="form-control" name="address_municipality" ng-model="vm.organization.address_municiplaity">
          </div>
          <div class="form-group region col-sm-3 col-xs-6">
              <label for="address">Region</label>
              <input type="text" class="form-control" name="address_region" ng-model="vm.organization.address_region">
          </div>
          <div class="form-group postal-code col-sm-3 col-xs-6">
              <label for="address">Postal Code</label>
              <input type="text" class="form-control" name="address_region" ng-model="vm.organization.address_postal_code">
          </div>
      </div>
  </md-card-content>
  
  </md-card>
</main>
       
<md-button class="md-fab md-primary md-fab-br md-whiteframe-12dp ." aria-label="save">
  <md-icon>save</md-icon>
</md-button>