<div class="card task-widget" layout="column">
        <div class="card-header card-header-icon" data-background-color="rose">
            <i class="material-icons">{{ $ctrl.icon || 'checkbox' }}</i>
        </div>

        

        <div class="task-widget-speed-dial">

          <!-- add icon displayed when no item selected -->
<!--           <md-button ng-show="!$ctrl.activeItem" class="md-fab md-warn" aria-label="Create task" ng-click="$ctrl.new()">
              <md-icon>add</md-icon>
          </md-button>
 -->
          <!-- speed dial displayed when an active task is selected -->
          <md-fab-speed-dial  class="md-scale" ng-cloak="" md-direction="left"
          md-open="$ctrl.menuIsOpen" 
          ng-mouseenter="$ctrl.menuIsOpen=true" ng-mouseleave="$ctrl.menuIsOpen=false">
            <md-fab-trigger>
              <md-button aria-label="menu" class="md-fab md-warn">
                <md-icon>menu</md-icon>
              </md-button>
            </md-fab-trigger>

            <md-fab-actions>
              <md-button aria-label="Create task" class="md-fab md-raised md-mini" ng-click="$ctrl.new()">
                  <md-tooltip md-direction="top"  md-autohide="false">
                  Create task
                  </md-tooltip>
                <md-icon aria-label="Create task">add</md-icon>
              </md-button>
              <md-button aria-label="Edit task" class="md-fab md-raised md-mini"
                          ng-click="$event.stopImmediatePropagation();$ctrl.edit($ctrl.activeItem,$event);"
                          ng-disabled="!$ctrl.activeItem">
                  <md-tooltip md-direction="top" md-autohide="false">
                  Edit
                  </md-tooltip>       
                <md-icon aria-label="Edit task">edit</md-icon>
              </md-button>
              <md-button aria-label="Duplicate task" class="md-fab md-raised md-mini"
                          ng-click="$ctrl.copy($ctrl.activeItem)"
                          ng-disabled="!$ctrl.activeItem">
                <md-icon aria-label="Duplicate task">content_copy</md-icon>
                  <md-tooltip md-direction="top" md-autohide="false">
                  Copy
                  </md-tooltip>  
              </md-button>
              <md-button aria-label="Archive task" class="md-fab md-raised md-mini"
                          ng-click="$event.stopImmediatePropagation();$ctrl.archive($ctrl.activeItem)"
                          ng-disabled="!$ctrl.activeItem">

                  <md-tooltip md-direction="top" md-autohide="false">
                  Archive
                  </md-tooltip>  
                <md-icon aria-label="Archive task">archive</md-icon>
              </md-button>
              <md-button aria-label="Delete task" class="md-fab md-raised md-mini"
                          ng-click="$ctrl.delete($ctrl.activeItem, $event)"
                          ng-disabled="!$ctrl.activeItem">

                  <md-tooltip md-direction="top" md-autohide="false">
                  Delete
                  </md-tooltip>  
                <md-icon aria-label="Delete task">clear</md-icon>
              </md-button>
              <md-button aria-label="Hide archived tasks" class="md-fab md-raised md-mini"
                          ng-click="$event.stopImmediatePropagation();$ctrl.toggleViewAllItems()">

                  <md-tooltip md-direction="top" md-autohide="false" ng-show="!$ctrl.viewAllItems">
                  View archived
                  </md-tooltip>  
                  <md-icon aria-label="View archived tasks" ng-show="!$ctrl.viewAllItems">visibility</md-icon>

                  <md-tooltip md-direction="top" md-autohide="false" ng-show="$ctrl.viewAllItems">
                  Hide archived
                  </md-tooltip>  
                  <md-icon aria-label="Hide archived tasks" ng-show="$ctrl.viewAllItems">visibility_off</md-icon>
              </md-button>
            </md-fab-actions>
          </md-fab-speed-dial>
        </div>

        <div class="card-content">
            <h4 class="card-title">{{$ctrl.title || $ctrl.entity.name}}</h4>

            

           <md-list flex>
  
            <md-list-item ng-show="$ctrl.items.length == 0"><div class="text-center">No tasks.</div></md-list-item>

             <div ng-repeat="item in $ctrl.items">
               <md-list-item ng-click="$ctrl.toggleExpanded(item)" data-item-id="{{item.id}}" id="task-{{item.id}}" ng-class="{'active-task': $ctrl.activeItem == item}">
                 <div class="checkbox">
                      <label>
                          <input type="checkbox" ng-checked="item.count_completed > 0 && item.count_completed == item.count_assigned" 
                          ng-click="$event.preventDefault();$ctrl.toggleExpanded(item);"
                          md-prevent-menu-close="md-prevent-menu-close">
                      </label>
                  </div>
                <span flex="expand">{{item.label}}</span>
                <span>{{item.due_date | relativeDate }}</span>
<!--                 <md-icon ng-show="!item.expand">expand_more</md-icon>
                <md-icon ng-show="item.expand">expand_less</md-icon> -->
<!--                 <md-button  ng-show="item.expand" class="md-icon-button compact-button"><md-icon>edit</md-icon></md-button> -->
               </md-list-item>

                 <!-- Assignees -->
                 <div class="col-md-12 task-assignees">
                   <md-list-item ng-show="$ctrl.activeItem == item" ng-repeat="a in item.assignees">
                    <div class="checkbox" flex>
                        <label>
                            <input type="checkbox" ng-checked="a.completed" ng-click="$ctrl.toggleAssigneeCompleted(item, a, $event);"
                            md-prevent-menu-close="md-prevent-menu-close">
                            {{a.person.first_name}} {{a.person.last_name}}
                        </label>
                    </div>
                    <!-- <md-button ng-click="$ctrl.removeAssignee(item,a)"><md-icon>clear</md-icon></md-button> -->
                   </md-list-item>
               
                  <!-- Add assignee -->
                   <!-- <md-list-item ng-show="item.expand"  md-no-float>
                    <md-input-container  md-no-float class="task-input-container">
                      <md-autocomplete
                          md-selected-item="$ctrl.selectedMember"
                          md-search-text="$ctrl.searchMembersText"
                          md-items="queryItem in $ctrl.querySearchMembers($ctrl.searchMembersText)"
                          md-item-text="queryItem.person.first_name + ' ' + queryItem.person.last_name"
                          md-selected-item-change="$ctrl.assignTo(item, $ctrl.selectedMember.person)"
                          md-input-minlength="2"
                          md-input-maxlength="18"
                          md-placeholder="+ Assign to"
                          md-floating-label="+ Assign to"
                          md-autofocus>
                        <md-item-template>
                          <div layout="row" layout-align="center">
                              <div class="abstract-profile-graphic" flex="none">
                                <span>{{queryItem.person.last_name | InitialFilter }}</span>
                              </div>
                              <div flex>
                                  <span md-highlight-text="$ctrl.searchText" md-highlight-flags="^i">
                                  {{queryItem.person.first_name}} {{queryItem.person.last_name}}
                                  </span>
                              </div>
                          </div>

                        </md-item-template>
                        <md-not-found>
                          No members matching "{{$ctrl.searchText}}" were found.
                        </md-not-found>
                      </md-autocomplete>
                    </md-input-container>
                  </md-list-item> -->
                </div>



                 <!-- Bullet Points -->
                 <div class="col-md-12 task-bullet-points">

                 <md-list-item ng-show="$ctrl.activeItem == item" ng-repeat="b in item.bullet_points">
                    <span class="bullet-point-icon">•</span>
                    <span class="bullet-point-label" flex>{{b}}</span>
<!--                     <md-button ng-click="$ctrl.removeBullet(item,$index)"><md-icon>clear</md-icon></md-button> -->
                  </md-list-item>
<!--                  <md-list-item ng-show="item.expand">

                  <md-input-container  md-no-float class="task-input-container">
                    <form ng-submit="$ctrl.addBullet(item,item._add_bullet_text)"> 
                      <input placeholder="+ Bullet point" ng-model="item._add_bullet_text">
                    </form>
                  </md-input-container>
                </md-list-item> -->
                </div>

                <div class="clearfix"></div>



              </div>


           </md-list>
        </div>
  </div>