static/bower_components/*
angular/app/node_modules/*
*/node_modules/*
core/__pycache__/*
doxa/__pycache__/*
__pycache__/
*/*.pyc
*.pyc
doxa/settings_local.py
.idea/*


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

venv/*

