<md-dialog aria-label="Add members to {{$ctrl.group.name}}" class="add-group-member">
  <form ng-submit="$ctrl.save()">


    <md-dialog-content>
      <div class="md-dialog-content">


          <h2 style="margin: 0px 0px 18px; text-align: center;">
            {{$ctrl.item.person.first_name}} {{$ctrl.item.person.last_name}}
          </h2>


            <div layout="column" layout-gt-xs="row">

                <md-input-container flex-gt-xs="50">
                <label>Involvement</label>
                  <md-select required name="type" ng-model="$ctrl.item.involvement">
                    <md-option ng-repeat="item in $ctrl.options.memberInvolvement" value="{{item.value}}">
                      {{item.label}}
                    </md-option>
                  </md-select>
                </md-input-container>


                <md-input-container  flex-gt-xs="50" class="date-picker">
                  <label>Member Since</label>
                  <md-datepicker ng-model="$ctrl.item.join_date" md-current-view="year"></md-datepicker>
                </md-input-container>

            </div>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" class="layout-row">
      
      <span flex="" class="flex"></span>

      <button class="swal2-confirm btn btn-danger md-ink-ripple" type="button" ng-click="$ctrl.cancel()"><span class="ng-scope"> Cancel </span> </button>
      
      <button class="swal2-cancel btn btn-success md-ink-ripple" type="submit"><span class="ng-scope"> Save </span></button>


      <span flex="" class="flex"></span>


    </md-dialog-actions>
  </form>
</md-dialog>