<md-dialog aria-label="Invite" class="guest-list">
  <form ng-submit="$ctrl.save()">


    <md-dialog-content flex>

        <div layout="column">      

          <div class="text-center" ng-hide="$ctrl.items.length">No one has been invited.</div>

          <md-list layout="column" ng-show="$ctrl.items.length" style="margin-top: 18px;">

            <md-list-item  ng-repeat="item in $ctrl.items"">
              <!-- <div class="abstract-profile-graphic"></div> -->
              <p> {{item.person.first_name}} {{item.person.last_name}}</p>
              <p> {{$ctrl.enum.status[item.status]}}</p>
              <div class="item-actions" style="visibility: visible;">
                  <button type="button" rel="tooltip" class="btn btn-danger"
                   data-original-title="" 
                   ng-click="$ctrl.remove(item, $event);">
                      <i class="material-icons">close</i>
                  </button>
              </div>
            </md-list-item> 
          </md-list>     

        </div>

    </md-dialog-content>


    <md-dialog-actions layout="row" class="layout-row">
      
      <span flex="" class="flex"></span>

      
      <button class="swal2-config btn btn-success md-ink-ripple" type="submit" ng-click="$ctrl.cancel()">
        <span class="ng-scope"> Done </span>
      </button>


      <span flex="" class="flex"></span>


    </md-dialog-actions>
  </form>
</md-dialog>
