<md-dialog aria-label="Edit event" class="edit-event edit-dialog">
  <form ng-submit="$ctrl.save()">


    <md-dialog-content flex>

        
        <div layout="column">           
            

            <md-input-container>
              <label>Event name</label>
              <input required name="name" ng-model="$ctrl.item.name" type="text" />
            </md-input-container>

            <md-input-container>
              <label>Description</label>
              <textarea ng-model="$ctrl.item.description" md-maxlength="400" rows="1" md-select-on-focus></textarea>
            </md-input-container>

            <div layout="row">

              <md-input-container  flex-gt-xs="70">
                <label>Location</label>
                <input name="location" ng-model="$ctrl.item.location" type="text" />
              </md-input-container>

                <md-input-container flex-gt-xs="30">
                <label>Visibility</label>
                  <md-select required name="type" ng-model="$ctrl.item.visibility">
                    <md-option ng-repeat="item in $ctrl.options.visibility" value="{{item.value}}">
                      {{item.label}}
                    </md-option>
                  </md-select>
                </md-input-container>
            </div>


            <div layout="row">

              <md-input-container   class="date-picker"  flex-gt-xs="33">
                <label>Start Date</label>
                <md-datepicker required ng-model="$ctrl.item.start_date" md-current-view="year"></md-datepicker>

              </md-input-container>
        

              <md-input-container  flex-gt-xs="33">
                <input mdc-datetime-picker date="false" time="true" type="text" id="time" 
                       short-time="true"
                       show-todays-date
                       placeholder="Time"
                       min-date="minDate"
                       format="hh:mm"
                       ng-model="$ctrl.item.start_time">
              </md-input-container>

              <md-input-container  flex-gt-xs="33">
                  <md-button ng-hide="$ctrl.ShowEndDateDialog" ng-click="$ctrl.ShowEndDateDialog = true;">+ End time </md-button>
              </md-input-container>

            </div>

            <div layout="row" ng-show="$ctrl.ShowEndDateDialog">
              <md-input-container  class="date-picker"  flex-gt-xs="33">
                <label>End Date</label>
                <md-datepicker ng-model="$ctrl.item.end_date" md-current-view="year"></md-datepicker>
              </md-input-container>


              <md-input-container  flex-gt-xs="33">
                <input mdc-datetime-picker date="false" time="true" type="text" id="time" short-time="true"
                       show-todays-date
                       placeholder="Time"
                       min-date="minDate"
                       format="hh:mm a"
                       ng-change="vm.saveChange()"
                       ng-model="$ctrl.item.end_time">
              </md-input-container>


              <md-input-containers  flex-gt-xs="33">
                  <md-button ng-click="$ctrl.removeEndDate();">Remove</md-button>
              </md-input-container>

            </div>  


        </div>

    </md-dialog-content>


    <md-dialog-actions layout="row" class="layout-row">
      
      <span flex="" class="flex"></span>

      <button class="swal2-confirm btn btn-danger md-ink-ripple" type="button" ng-click="$ctrl.cancel()"><span class="ng-scope"> Cancel </span> </button>
      
      <button class="swal2-cancel btn btn-success md-ink-ripple" type="submit"><span class="ng-scope"> Save </span></button>


      <span flex="" class="flex"></span>


    </md-dialog-actions>
  </form>
</md-dialog>
