<md-dialog aria-label="Edit organization" class="edit-dialog edit-organization">
  <form ng-submit="$ctrl.save()">
    <md-dialog-content flex>
        
          <div layout="column">

            <div layout="column" layout-gt-xs="row">

              <div class="input-wrapper" flex-gt-xs="66" >           
                <md-input-container>
                  <label>Church Name</label>
                  <input required name="name" ng-model="$ctrl.item.name" type="text" />
                </md-input-container>
              </div>

             <div class="input-wrapper" flex-gt-xs="33" > 
                <md-input-container flex-gt-xs="auto">
                    <label>Size</label>
                    <md-select required name="size" ng-model="$ctrl.item.size">
                    <md-option ng-repeat="item in $ctrl.options.organizationSize" value="{{item.value}}">
                      {{item.label}}
                    </md-option>
                    </md-select>
                </md-input-container>
              </div>
            </div>

            <div class="input-wrapper" flex-gt-xs="66" > 
              <md-input-container>
                <label>Description</label>
                <textarea ng-model="$ctrl.item.description" md-maxlength="400" rows="3" md-select-on-focus></textarea>
              </md-input-container>
            </div>


            <div layout="column" layout-gt-xs="row">   

                <div class="input-wrapper" flex-gt-xs="50" >
                  <md-input-container>
                    <label>Email</label>
                    <input required name="name" ng-model="$ctrl.item.email" type="text" />
                  </md-input-container>   
                </div> 

                <div class="input-wrapper" flex-gt-xs="50" >
                  <md-input-container>
                    <label>Phone</label>
                    <input required name="name" ng-model="$ctrl.item.telephone" type="text" />
                  </md-input-container>
                </div> 

            </div>


            <div layout="column" layout-gt-xs="row">   
                <div class="input-wrapper" flex>
                   <md-input-container>
                      <label>Street</label>
                      <input  name="address" ng-model="$ctrl.item.address"/>
                    </md-input-container>
                </div> 
            </div>


            <div layout="column" layout-gt-xs="row">
                <div class="input-wrapper" flex-gt-xs="50" >
                  <md-input-container>
                    <label>Town</label>
                    <input name="municipality" ng-model="$ctrl.item.municipality"/>
                  </md-input-container>
                </div>
                
                <div class="input-wrapper" flex-gt-xs="50" >
                  <md-input-container>
                    <label>Region</label>
                    <input name="region" ng-model="$ctrl.item.region"/>
                  </md-input-container>
                </div>
                  
                <div class="input-wrapper" flex-gt-xs="50" >
                  <md-input-container>
                    <label>Post code</label>
                    <input name="postalcode" ng-model="$ctrl.item.postcode"/>
                  </md-input-container>
                </div>
            </div>

          </div>

    </md-dialog-content>


    <md-dialog-actions layout="row" class="layout-row">
      

<!--       <button class="md-button md-ink-ripple" type="button" ng-click="$ctrl.remove()">
      <span class="ng-scope" ng-show="$ctrl.item.id">
       Delete Group
      </span>
      </button>
 -->
      <span flex="" class="flex"></span>

      <button class="swal2-confirm btn btn-danger md-ink-ripple" type="button" ng-click="$ctrl.cancel()"><span class="ng-scope"> Cancel </span> </button>
      
      <button class="swal2-cancel btn btn-success md-ink-ripple" type="submit"><span class="ng-scope"> Save </span></button>


      <span flex="" class="flex"></span>
    </md-dialog-actions>
  </form>
</md-dialog>
