<div class="container-fluid">
<div class="row">


  <!-- <div class="col-md-12" layout="column">
      <div class="card" layout="column">


           <div class="card-toolbar" layout="row">

              <div class="input-wrapper" flex-gt-xs="33"> 
                <div class="form-group is-empty search-group-or-event">
                <md-autocomplete
                        md-selected-item="$ctrl.searchGroupOrEventItem"
                        md-search-text="$ctrl.searchGroupOrEventText"
                        md-items="item in $ctrl.querySearch($ctrl.searchGroupOrEventText)"
                        md-item-text="item.name"
                        md-selected-item-change="$ctrl.searchGroupOrEventChanged($ctrl.searchGroupOrEventItem)"
                        md-input-minlength="2"
                        md-input-maxlength="18"
                        placeholder="Group or Event"
                        md-floating-label="Group or Event"
                        md-autofocus>
                      <md-item-template>
                        <div layout="row" layout-align="center">
                            <div class="abstract-profile-graphic" flex="none">
                              <span>{{item.person.last_name | InitialFilter }}</span>
                            </div>
                            <div flex>
                                <span md-highlight-text="$ctrl.searchGroupOrEventText" md-highlight-flags="^i">
                                {{item.name}}
                                </span>
                            </div>
                        </div>

                      </md-item-template>
                      <md-not-found>
                        No members matching "{{$ctrl.searchGroupOrEventText}}" were found.
                      </md-not-found>
                    </md-autocomplete>
                </div>
              </div>

              <div class="input-wrapper" flex-gt-xs="33"> 
                <div class="form-group is-empty;">
                <input type="text" class="form-control" placeholder="Assigned to"
                ng-model="$ctrl.filter.assignee">
                </div>
              </div>

              <div class="input-wrapper" flex-gt-xs="33"> 
                <div class="form-group is-empty;">
                  <input type="text" class="form-control" placeholder="Search"
                  ng-model="$ctrl.filter.search" ng-model-options="{ debounce: 500 }" ng-change="$ctrl.refreshResults()" >
                </div>
              </div>
          </div>
      </div>
  </div>  
</div> -->


<!-- For each group -->
<div class="col-12" layout="column" ng-repeat="group in $ctrl.groups">
  <task-widget dx-entity="group" dx-icon="group"></task-widget>
</div>

<!-- For each event -->
<div class="col-12" layout="column" ng-repeat="event in $ctrl.events">
  <task-widget dx-entity="event" dx-icon="event"></task-widget>
</div>

<div class="clearfix"></div>


<h2>Preview Widgets</h2>

<!-- Preview Widgets -->


<div class="col-sm-6" layout="column">
  <div class="card" layout="column">
        <div class="card-header card-header-icon" data-background-color="rose">
            <i class="material-icons">group</i>
        </div>


        <div class="card-content">
            <h4 class="card-title">Troop #56</h4>

           <md-list flex>
             <div ng-repeat="item in $ctrl.items">
               <md-list-item ng-click="$ctrl.expandItem(item)" data-item-id="{{item.id}}" id="task-{{item.id}}">
                 <div class="checkbox">
                      <label>
                          <input type="checkbox" ng-checked="a.completed" ng-click="$ctrl.toggleCompleted(item, a, $event);"
                          md-prevent-menu-close="md-prevent-menu-close">
                      </label>
                  </div>
                <span flex="expand">{{item.label}}</span>
                <md-icon ng-show="!item.expand">expand_more</md-icon>

                <!-- <span flex ng-show="item.expand_menu"></span> -->

                <!-- <md-fab-speed-dial ng-hide="true" ng-show="item.expand" md-direction="left" md-open="item.expand_menu" ng-cloak="" class="md-scale" flex>
                  <md-fab-trigger>
                    <md-button aria-label="menu" style="width: auto; min-width: 0px;">
                      <md-icon>menu</md-icon>
                    </md-button>
                  </md-fab-trigger>

                  <md-fab-actions>
                    <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
                      <md-icon>trash</md-icon>
                    </md-button>
                    <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
                      <md-icon>copy</md-icon>
                    </md-button>
                    <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
                      <md-icon>archive</md-icon>
                    </md-button>
                  </md-fab-actions>
                </md-fab-speed-dial> -->

               </md-list-item>

                 <!-- Assignees -->
                 <div class="col-md-12 task-assignees">
                   <md-list-item ng-show="item.expand" ng-repeat="a in item.assignees">
                    <div class="checkbox" flex>
                        <label>
                            <input type="checkbox" ng-checked="a.completed" ng-click="$ctrl.toggleCompleted(item, a, $event);"
                            md-prevent-menu-close="md-prevent-menu-close">
                            {{a.person.first_name}} {{a.person.last_name}}
                        </label>
                    </div>
                    <md-button ng-click="$ctrl.removeAssignee(item,a)"><md-icon>clear</md-icon></md-button>
                   </md-list-item>
               
                  <!-- Add assignee -->
                   <md-list-item ng-show="item.expand"  md-no-float>
                    <md-input-container  md-no-float class="task-input-container">
                      <md-autocomplete
                          md-selected-item="$ctrl.selectedMember"
                          md-search-text="$ctrl.searchMembersText"
                          md-items="queryItem in $ctrl.querySearchMembers($ctrl.searchMembersText)"
                          md-item-text="queryItem.person.first_name + ' ' + queryItem.person.last_name"
                          md-selected-item-change="$ctrl.assignTo(item, $ctrl.selectedMember.person)"
                          md-input-minlength="2"
                          md-input-maxlength="18"
                          md-placeholder="+ Assign to"
                          md-floating-label="+ Assign to"
                          md-autofocus>
                        <md-item-template>
                          <div layout="row" layout-align="center">
                              <div class="abstract-profile-graphic" flex="none">
                                <span>{{queryItem.person.last_name | InitialFilter }}</span>
                              </div>
                              <div flex>
                                  <span md-highlight-text="$ctrl.searchText" md-highlight-flags="^i">
                                  {{queryItem.person.first_name}} {{queryItem.person.last_name}}
                                  </span>
                              </div>
                          </div>

                        </md-item-template>
                        <md-not-found>
                          No members matching "{{$ctrl.searchText}}" were found.
                        </md-not-found>
                      </md-autocomplete>
                    </md-input-container>
                  </md-list-item> 
                </div>



                 <!-- Bullet Points -->
                 <div class="col-md-12 task-bullet-points">

                 <md-list-item ng-show="item.expand" ng-repeat="b in item.bullet_points">
                    <span class="bullet-point-icon">•</span>
                    <span class="bullet-point-label" flex>{{b}}</span>
                    <md-button ng-click="$ctrl.removeBullet(item,$index)"><md-icon>clear</md-icon></md-button>
                  </md-list-item>
                 <md-list-item ng-show="item.expand">

                  <md-input-container  md-no-float class="task-input-container">
                    <form ng-submit="$ctrl.addBullet(item,item._add_bullet_text)"> 
                      <input placeholder="+ Bullet point" ng-model="item._add_bullet_text">
                    </form>
                  </md-input-container>
                </md-list-item>
                </div>

                <div class="clearfix"></div>



              </div>


           </md-list>
        </div>
  </div>
</div>



<div class="col-md-6">
  <div class="card" layout="column">
        <div class="card-header card-header-icon" data-background-color="rose">
            <i class="material-icons">group</i>
        </div>


        <div class="card-content">
          <div class="input-wrapper" flex-gt-xs="33"> 
            <div class="form-group is-empty search-group-or-event">
            <md-autocomplete
                    md-selected-item="$ctrl.searchGroupOrEventItem"
                    md-search-text="$ctrl.searchGroupOrEventText"
                    md-items="item in $ctrl.querySearch($ctrl.searchGroupOrEventText)"
                    md-item-text="item.name"
                    md-selected-item-change="$ctrl.searchGroupOrEventChanged($ctrl.searchGroupOrEventItem)"
                    md-input-minlength="2"
                    md-input-maxlength="18"
                    placeholder="Search"
                    md-floating-label="Search"
                    md-autofocus>
                  <md-item-template>
                    <div layout="row" layout-align="center">
                        <div class="abstract-profile-graphic" flex="none">
                          <span>{{item.person.last_name | InitialFilter }}</span>
                        </div>
                        <div flex>
                            <span md-highlight-text="$ctrl.searchGroupOrEventText" md-highlight-flags="^i">
                            {{item.name}}
                            </span>
                        </div>
                    </div>

                  </md-item-template>
                  <md-not-found>
                    No members matching "{{$ctrl.searchGroupOrEventText}}" were found.
                  </md-not-found>
                </md-autocomplete>
            </div>
          </div>
      </div>


</div>
 
</div>
 
</div>


