container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "doxa.settings"
    PYTHONPATH: "/venv/python34/bin/python"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: 'doxa/wsgi.py'
    StaticFiles: "/static/=www/static/"

packages:
  yum:
    libjpeg-turbo-devel: []
    libpng-devel: []
    postgresql95-devel: []
