<md-content style="display: flex; justify-content: center; align-items: center; height: 100%;">
<md-card layout-padding style="max-width: 400px;  width: 100%; margin-left: auto; margin-right: auto;">
    <form name="userForm" ng-submit="$ctrl.login()">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Welcome back</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>  
        <div layout="column">
  
          <md-input-container class="md-block">
            <label>Email</label>
            <input required name="email" ng-model="$ctrl.email" type="email"  id="login-email"/>
  
            <div ng-messages="userForm.email.$error" ng-if="!showHints">
              <div ng-message="required">Email is required.</div>
            </div>
          </md-input-container>
  
          <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
          </div>
  
  
          <md-input-container class="md-block" style="margin-bottom: 0px;">
            <label>Password</label>
            <input required name="password" ng-model="$ctrl.password" type="password" id="login-password"/>
  
            <div ng-messages="userForm.password.$error" ng-if="!showHints">
              <div ng-message="required">Password is required.</div>
            </div>
          </md-input-container>
          
          Don't have an account yet? <a ui-sref="registration.register()"> Create an account</a>
         
        </div>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button type="submit">Submit</md-button>
      </md-card-actions>
    </form>
  </md-card>
</md-content>

<style>
  .main-content {
    height: 100%;
  }
</style>