<md-sidenav md-is-locked-open="true" class="md-whiteframe-4dp">
     <md-list>
        
        <!-- List item #1 -->
        <md-list-item >
            <md-button>
                 <md-icon>dashboard</md-icon>
                Home
            </md-button>
        </md-list-item>
        
        <md-list-item >
            <md-button>
                <md-icon>domain</md-icon>
                Edit Organization
            </md-button>
        </md-list-item>
        
        <md-list-item >
            <md-button>
                <md-icon>people</md-icon>
                Members
            </md-button>
        </md-list-item>


      </md-list>
</md-sidenav>