<md-toolbar class="md-hue-2 fixed">
    <div class="md-toolbar-tools">

        <h2>
          <span>{{ page_title }}</span>
        </h2>
        <span flex=""></span>
        <md-button type="submit" ng-click="$ctrl.goBack()">
            Cancel
            <md-icon>cancel</md-icon>
        </md-button>
        <md-button style="color: greenyellow;" ng-click="$ctrl.submitForm()">
            Save
            <md-icon style="color: greenyellow;">save</md-icon>
        </md-button>
      

    </div>
  </md-toolbar>