.row {
  clear: both;
  margin-left: 0px;
  margin-right: 0px;
}
nav.navbar.navbar-default {
  width: 100%;
  display: block;
  height: 60px;
  background: white;
  flex: none;
  border-bottom: 1px solid #e6e6e6;
  /* navbar font settings */
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #545454;
  margin-bottom: 0px;
}
nav.navbar.navbar-default .navbar-header {
  border-right: 1px solid #e6e6e6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #e6e6e6;
  width: 200px;
}
nav.navbar .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
.navbar > .container-fluid .navbar-brand {
  margin-left: auto;
}
.navbar .navbar-nav > li > a {
  padding: 0px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #545454;
  height: 60px;
  border-left: 1px solid #e6e6e6;
  display: block;
  float: right;
  cursor: pointer;
  line-height: 60px;
  padding-left: 25px;
  padding-right: 25px;
}
.navbar-collapse {
  padding: 0px;
}
nav.navbar div.navbar-header a.navbar-brand,
nav.navbar div.navbar-header a.navbar-brand-small {
  font-family: 'Lobster', cursive;
  font-size: 1.7em;
  display: block;
  width: 100%;
  color: #6d6d6d;
  text-align: center;
  line-height: 60px;
  text-decoration: none;
  padding: 0px;
  font-weight: 300;
  height: auto;
}
.home-splash {
  height: 750px;
  min-height: 750px;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(121, 121, 121, 0.35)), url(../images/home-banner.jpg);
  background-size: cover;
}
.home-title {
  position: absolute;
  left: 0;
  right: 6px;
  top: 182px;
  font-size: 3.6em;
  font-family: lobster, sans-serif;
  text-align: center;
  display: block;
  color: #ffffff;
  margin: auto;
}
.home-tagline {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
  padding: 0 5%;
  display: block;
  position: relative;
  top: 280px;
  color: white;
  font-weight: 700;
  text-align: center;
  font-size: 2.3em;
}
#explore-button {
  background: green;
  text-transform: none;
  font-size: 2em;
  height: 59px;
  width: 250px;
  font-family: lobster, 'cursive';
  display: block;
  margin: auto;
  position: absolute;
  top: 362px;
  left: 0;
  right: 0;
  color: white;
  box-shadow: 0px 2px 1px #5f5f5f;
  background: linear-gradient(45deg, #2ecc71, #1e90ff);
  border-radius: 5px;
  transition: all 0.2s ease;
}
/**
 * Form Styling
 */
/* multi-step form status buttons */
/* numbered buttons */
.multi-step-buttons a {
  color: #FFF;
  display: inline-block;
  font-size: 12px;
  margin-right: 10px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.multi-step-buttons a:hover,
.multi-step-buttons a:active {
  text-decoration: none;
}
/* we will style the span as the circled number */
.multi-step-buttons span {
  background: #039BE5;
  display: block;
  height: 30px;
  margin: 0 auto 10px;
  padding-top: 5px;
  width: 30px;
  border-radius: 50%;
}
/* active buttons turn light green-blue*/
.multi-step-buttons a.active span {
  background: #8BC34A;
}
.btn-fat {
  font-size: 1.7rem;
  padding: 15px 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}
