<md-toolbar class="md-hue-2" ng-controller="AppbarController as $ctrl">
    <div class="md-toolbar-tools">
    <md-button class="menu md-icon-button" hide-gt-sm ng-click="$ctrl.toggleSidebar()">
        <md-icon>menu</md-icon>
    </md-button>
      <h2>
        <span>Dashboard</span>
      </h2>
      <span flex=""></span>

        <md-menu md-position-mode="target-right bottom">
          <md-button aria-label="Menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <md-icon md-menu-origin="">person</md-icon>
          </md-button>
          <md-menu-content width="4">
            
            <md-menu-item>
              <md-button ng-click="$ctrl.logout()">
                  <div layout="row" flex="">
                    <p flex="">My account</p>
                  </div>
              </md-button>
            </md-menu-item>
            
            <md-menu-item>
              <md-button ng-click="$ctrl.logout()">
                  <div layout="row" flex="">
                    <p flex="">Logout</p>
                    <md-icon>power</md-icon>
                  </div>
              </md-button>
            </md-menu-item>
            

            
          </md-menu-content>
        </md-menu>
      

    </div>
  </md-toolbar>