<md-dialog aria-label="View Member" class="member" md-theme="grey">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
          <div class="abstract-graphic-id" flex="none">
            <span>{{ $ctrl.item.entity.last_name | InitialFilter }}</span>
          </div>
        <h2>{{ $ctrl.item.entity.first_name }} {{ $ctrl.item.entity.last_name }}</h2>
        <span flex="" class="flex"></span>
        <md-button class="md-icon-button" aria-label="Edit"><md-icon>edit</md-icon></md-button>
        <md-button class="md-icon-button" aria-label="Delete" ng-click="$ctrl.delete($ctrl.item,$event)"><md-icon>delete</md-icon></md-button>
        <md-button class="md-icon-button" aria-label="Close" md-dialog-close ng-click="$ctrl.cancel()"><md-icon>close</md-icon></md-button>

      </div>
    </md-toolbar>


    <md-dialog-actions layout="row" class="layout-row">

      <a class="md-button md-autofocus md-ink-ripple" href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus=""><span class="ng-scope">
        More on Wikipedia
      </span></a>

      <span flex="" class="flex"></span>

      <button class="md-button md-ink-ripple" type="button" ng-click="answer('not useful')"><span class="ng-scope">
       Not Useful
      </span></button>
      <button class="md-button md-ink-ripple" type="button" ng-click="answer('useful')"><span class="ng-scope">
        Useful
      </span></button>
    </md-dialog-actions>
  </form>
</md-dialog>