<md-dialog aria-label="Edit group" class="edit-group">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
          <div class="profile-graphic abstract-profile-graphic" flex="none">
            <span ng-show="$ctrl.item.name">{{ $ctrl.item.name | InitialFilter }}
            </span>
          </div>
          <h2>
            <span ng-hide="$ctrl.item.id">
              New group
            </span>
            <span ng-show="$ctrl.item.id">
              {{ $ctrl.item.name}}
            </span>

          </h2>
        <span flex="" class="flex"></span>

        <md-button class="md-icon-button" aria-label="Close" md-dialog-close ng-click="$ctrl.cancel()"><md-icon>close</md-icon></md-button>

      </div>
    </md-toolbar>

    <md-dialog-content flex>

        <form>

        
          <div layout="column">           
              

              <md-input-container>
                <label>Group name</label>
                <input required name="name" ng-model="$ctrl.item.name" type="text" />
              </md-input-container>

              <md-input-container>
                <label>Description</label>
                <textarea ng-model="$ctrl.item.description" md-maxlength="400" rows="3" md-select-on-focus></textarea>
              </md-input-container>

              <md-input-container>
                <label>Meeting Times</label>
                <input name="meeting_times" ng-model="$ctrl.item.meeting_times" type="text" />
              </md-input-container>

              <md-input-container >
                <label>Location</label>
                <input name="meeting_location" ng-model="$ctrl.item.meeting_location" type="text" />
              </md-input-container>

          </div>

        </form>
    </md-dialog-content>


    <md-dialog-actions layout="row" class="layout-row">
      

      <button class="md-button md-ink-ripple" type="button" ng-click="$ctrl.remove()">
      <span class="ng-scope" ng-show="$ctrl.item.id">
       Delete Group
      </span>
      </button>

      <span flex="" class="flex"></span>

      <button class="md-button md-ink-ripple" type="button" ng-click="$ctrl.cancel()"><span class="ng-scope">
       Cancel
      </span></button>
      <button class="md-button md-ink-ripple" type="button" ng-click="$ctrl.save()"><span class="ng-scope">
        Save
      </span></button>
    </md-dialog-actions>
  </form>
</md-dialog>
