<!-- form-profile.html -->

<!--<div flex-xs="" flex-gt-xs="50" layout="column">-->
<form external-submit id="primaryForm" name="primaryForm" ng-submit="$ctrl.save()">
  <main class="card-collection">
    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch="">
    <md-card-content>
    
    <div layout="column">
      
        <div  layout="column" layout-gt-xs="row" >
          <md-input-container  flex-gt-xs="33">
            <label>Title</label>
            
              <md-select name="type" ng-model="$ctrl.data.entity.title">
                <md-option value=""></md-option>
                <md-option ng-repeat="item in $ctrl.personTitleOptions" value="{{item}}">
                  {{item}}
                </md-option>
              </md-select>
    
          </md-input-container>
          
          <div flex="66" hide-xs></div>
          
          
        </div>
        
          
        <div layout="column" layout-gt-xs="row">           
            
            <md-input-container flex-gt-xs="33">
              <label>First</label>
              <input required name="first_name" ng-model="$ctrl.data.entity.first_name" type="text" />
            </md-input-container>
            <md-input-container flex-gt-xs="33">
              <label>Middle</label>
              <input name="middle_name" ng-model="$ctrl.data.entity.middle_name" type="text" />
            </md-input-container>
            <md-input-container flex-gt-xs="33">
              <label>Last</label>
              <input required name="title" ng-model="$ctrl.data.entity.last_name" type="text" />
            </md-input-container>

        </div>
        
      <div layout="column" layout-gt-xs="row" layout-align="end" >
            <md-input-container  flex-gt-xs="33">
              <label>Gender</label>
               <md-select ng-model="$ctrl.data.entity.gender" placeholder="Gender">
                <md-option value=""></md-option>
                <md-option value="f">Female</md-option>
                <md-option value="m">Male</md-option>
              </md-select>
               
            </md-input-container>
            
            <md-input-container flex-gt-xs="33" class="date-picker">
              <label>Birthday</label>
              <!-- <md-datepicker ng-model="$ctrl.data.entity.birthday" utc-parser></md-datepicker> -->
            </md-input-container>
            
            <md-input-container  flex-gt-xs="33" class="date-picker">
              <label>Member since</label>
              <!-- <md-datepicker ng-model="$ctrl.data.join_date" utc-parser></md-datepicker> -->
            </md-input-container>
        </div>
      </div>
    </md-card-content>
    </md-card>
    

    
    <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Contact Information</span>
      </md-card-title-text> 
    </md-card-title>
    <md-card-content>
      
      
        <md-input-container class="md-block">
          <label>Email</label>
          <input name="email" ng-model="$ctrl.data.contacts[0].address" type="email" />
        </md-input-container>

        
        <md-input-container class="md-block" flex-gt-xs="auto">
              <label>Telephone</label>
              <input name="telephone" ng-model="$ctrl.data.contacts[1].address" type="telephone" />
        </md-input-container>
    </md-card-content>
    
    </md-card>
    
    
    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch="">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Location</span>
      </md-card-title-text> 
    </md-card-title>
    <md-card-content>

      <div layout="column" layout-gt-xs="row">
          <select-country flex-gt-xs="40" ng-model="$ctrl.data.contacts[2].country">
          </select-country>
         

          <md-input-container flex-gt-xs="auto" class="md-block">
            <label>Address</label>
            <input  name="address" ng-model="$ctrl.data.contacts[2].street"/>
          </md-input-container>
      </div>
          
      <div layout="column" layout-gt-xs="row">
          <md-input-container flex-gt-xs="50" class="md-block">
            <label>Municipality</label>
            <input name="municipality" ng-model="$ctrl.data.contacts[2].municipality"/>
          </md-input-container>
          
         <md-input-container flex-gt-xs="25" class="md-block">
            <label>Region</label>
            <input name="region" ng-model="$ctrl.data.contacts[2].region"/>
          </md-input-container>
            
          <md-input-container flex-gt-xs="25" class="md-block">
            <label>Postalcode</label>
            <input name="postalcode" ng-model="$ctrl.data.contacts[2].postcode"/>
          </md-input-container>
      </div>
      
    </md-card-content>
    
    </md-card>
  </main>
  
  <input type="hidden" name="context" value="$ctrl.context"/>
  
</form>
       
<!--<md-button class="md-fab md-primary md-fab-br md-whiteframe-12dp ." aria-label="save">
  <md-icon>save</md-icon>
</md-button>-->