<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <md-button class="menu md-icon-button" hide-gt-sm ng-click="$ctrl.toggleSidebar()"  ng-show="$ctrl.mode == 'dashboard'">
          <md-icon>menu</md-icon>
      </md-button>

        <md-button class="menu md-icon-button"  ng-click="$ctrl.goBack()"   ng-show="$ctrl.mode == 'component'">
            <md-icon>arrow_back</md-icon>
        </md-button>

      <h2>
        <span>{{$ctrl.title}}</span>
      </h2>
      <span flex=""></span>


      
        <md-menu md-position-mode="target-right bottom" ng-show="$ctrl.mode == 'dashboard'">
          <md-button aria-label="Menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <md-icon md-menu-origin="">person</md-icon>
          </md-button>
          <md-menu-content width="4" layout="column">
            <md-menu-item>
              <md-button ng-click="$ctrl.editAccount()">
                  <div layout="row" flex="">
                    <p flex="">Account</p>
                  </div>
              </md-button>
            </md-menu-item>

            <md-menu-item>
              <md-button ng-click="$ctrl.logout()">
                  <div layout="row" flex="">
                    <p flex="">Logout</p>
                    <md-icon>power</md-icon>
                  </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

        <md-menu md-position-mode="target-right bottom" ng-show="$ctrl.contextMenu">

          <md-button aria-label="Menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <md-icon md-menu-origin="">more</md-icon>
          </md-button>

          <md-menu-content width="4" layout="column">
            
            <md-menu-item  ng-repeat="item in $ctrl.contextMenu.menuItems">
              <md-button ng-click="$ctrl.execute(item.action)">
                  <div layout="row" flex="">
                    <p flex="">{{item.label}}</p>
                  </div>
              </md-button>
            </md-menu-item>

          </md-menu-content>
        </md-menu>
      

    </div>
  </md-toolbar>