


<!-- form-profile.html -->

<div class="container-fluid">
<div class="row">
  <div class="col-md-12">
      <div class="card">
          <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">face</i>
          </div>
<!--           <h4 class="card-title">Members of {{$ctrl.organization.name}} </h4>

 -->
          <div class="card-toolbar">

             <md-button class="md-icon-button" ng-click="$ctrl.removeMembers($ctrl.selectedItems)" ng-show="!!$ctrl.selectedItems.length"><md-icon>delete</md-icon></md-button>

            <div class="search-wrapper">
                  <div class="form-group form-search is-empty;">
                  <input type="text" class="form-control" placeholder="Search"
                  ng-model="$ctrl.filter.search" ng-model-options="{ debounce: 500 }" ng-change="$ctrl.refreshResults()">
                  </div>
            </div>
          </div>

          <div class="card-content">
              <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th class="text-center">
                                  <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-checked="$ctrl.allItemsSelected" ng-click="$ctrl.toggleAll()">
                                    </label>
                                </div>
                              </th>
                              <th ng-click="$ctrl.sortBy('person__first_name')">Name</th>
                              <th ng-click="$ctrl.sortBy('role')">Role</th>
                              <th ng-click="$ctrl.sortBy('join_date')">Since</th>
                              <th class="text-right">Actions</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat="item in $ctrl.items" data-item-id="{{item.id}}" id="member-{{item.id}}">
                              <td>
                                
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-checked="$ctrl.isItemSelected(item)" ng-click="$ctrl.toggleItem(item)">
                                    </label>
                                </div>

                              </td>
                              <td>{{item.person.first_name}} {{item.person.last_name}}</td>
                              <td>{{item.role}}</td>
                              <td>{{item.join_date | relativeDate }}</td>
                              <td class="td-actions text-right">
     
                                  <button type="button" rel="tooltip" class="btn btn-success" data-original-title="" title="" ng-click="$ctrl.edit(item,$event);">
                                      <i class="material-icons">edit</i>
                                  <div class="ripple-container"></div></button>

                                  <button type="button" rel="tooltip" class="btn btn-danger" 
                                          data-original-title="" title=""
                                          ng-click="$ctrl.delete(item, $event);$event.stopPropagation();$event.preventDefault();">
                                      <i class="material-icons">close</i>
                                  </button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>  
</div>

<button class="btn btn-primary btn-round btn-fab btn-fab-fixed" aria-label="new"  ng-click="$ctrl.new()">
  <i class="material-icons">add</i>
  <div class="ripple-container"></div>
</button>


