<md-dialog aria-label="Edit group" class="edit-group">
  <form ng-submit="$ctrl.save()">
    <md-dialog-content flex>
        
          <div layout="column">           
              

              <md-input-container>
                <label>Group name</label>
                <input required name="name" ng-model="$ctrl.item.name" type="text" />
              </md-input-container>

              <md-input-container>
                <label>Description</label>
                <textarea ng-model="$ctrl.item.description" md-maxlength="400" rows="3" md-select-on-focus></textarea>
              </md-input-container>

              <md-input-container>
                <label>Meeting Times</label>
                <input name="meeting_times" ng-model="$ctrl.item.meeting_times" type="text" />
              </md-input-container>

              <md-input-container >
                <label>Location</label>
                <input name="meeting_location" ng-model="$ctrl.item.meeting_location" type="text" />
              </md-input-container>

          </div>

    </md-dialog-content>


    <md-dialog-actions layout="row" class="layout-row">
      

<!--       <button class="md-button md-ink-ripple" type="button" ng-click="$ctrl.remove()">
      <span class="ng-scope" ng-show="$ctrl.item.id">
       Delete Group
      </span>
      </button>
 -->
      <span flex="" class="flex"></span>

      <button class="swal2-confirm btn btn-danger md-ink-ripple" type="button" ng-click="$ctrl.cancel()"><span class="ng-scope"> Cancel </span> </button>
      
      <button class="swal2-cancel btn btn-success md-ink-ripple" type="submit"><span class="ng-scope"> Save </span></button>


      <span flex="" class="flex"></span>
    </md-dialog-actions>
  </form>
</md-dialog>
