<!-- form-profile.html -->

<!--<div flex-xs="" flex-gt-xs="50" layout="column">-->
<form external-submit id="primaryForm" name="primaryForm" ng-submit="$ctrl.save()" go-back="dashboard.home()">
  <main class="card-collection">
    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch="">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Church Details</span>
      </md-card-title-text> 
    </md-card-title>
    <md-card-content>
    
    <div layout="column">
          
        <div layout="column" layout-gt-xs="row">
          <input type="hidden" ng-model="$ctrl.organization.id">
            <md-input-container flex-gt-xs="66">
              <label>Church or Organization Name</label>
              <input required name="title" ng-model="$ctrl.organization.title" type="text" />
            </md-input-container>
            
            <md-input-container flex-gt-xs="auto">
                <label>Size</label>
                <md-select required name="size" ng-model="$ctrl.organization.size">
                <md-option ng-repeat="item in $ctrl.organizationSizeOptions" value="{{item.value}}">
                  {{item.display}}
                </md-option>
                </md-select>
            </md-input-container>
        </div>
        
        <md-input-container flex>
          <label>Description</label>
            <label for="name">Description</label>
            <textarea name="description" ng-model="$ctrl.item.description" rows="3" md-select-on-focus></textarea>
        </md-input-container>
      </div>
    </md-card-content>
    </md-card>
    
    
    <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Contact Information</span>
      </md-card-title-text> 
    </md-card-title>
    <md-card-content>
      
      
        <md-input-container class="md-block">
          <label>Email</label>
          <input required name="email" ng-model="$ctrl.organization.contacts[0].address" type="email" />
        </md-input-container>
        
        <md-input-container class="md-block" flex-gt-xs="auto">
              <label>Telephone</label>
              <input required name="telephone" ng-model="$ctrl.organization.contacts[1].address" type="telephone" />
        </md-input-container>
    </md-card-content>
    
    </md-card>
    
    
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Location</span>
        </md-card-title-text> 
      </md-card-title>
      <md-card-content>

        <div layout="column" layout-gt-xs="row">
            <select-country flex-gt-xs="40" required ng-model="$ctrl.organization.contacts[2].country">
            </select-country>
           

            <md-input-container flex-gt-xs="auto" class="md-block">
              <label>Address</label>
              <input  name="address" ng-model="$ctrl.organization.contacts[2].street"/>
            </md-input-container>
        </div>
            
        <div layout="column" layout-gt-xs="row">
            <md-input-container flex-gt-xs="50" class="md-block">
              <label>Municipality</label>
              <input  name="municipality" ng-model="$ctrl.organization.contacts[2].municipality"/>
            </md-input-container>
            
           <md-input-container flex-gt-xs="25" class="md-block">
              <label>Region</label>
              <input  name="region" ng-model="$ctrl.organization.contacts[2].region"/>
            </md-input-container>
              
            <md-input-container flex-gt-xs="25" class="md-block">
              <label>Postalcode</label>
              <input  name="postalcode" ng-model="$ctrl.organization.contacts[2].postcode"/>
            </md-input-container>
        </div>
      </md-card-content>
    
    </md-card>
  </main>
  
  <input type="hidden" name="context" value="$ctrl.context"/>
  
</form>
       
<!--<md-button class="md-fab md-primary md-fab-br md-whiteframe-12dp ." aria-label="save">
  <md-icon>save</md-icon>
</md-button>-->