<md-dialog aria-label="Update account" class="user" md-theme="grey">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          Edit account
          </h2>
        <span flex="" class="flex"></span>
        <md-button class="md-icon-button" aria-label="Close" md-dialog-close ng-click="$ctrl.cancel()"><md-icon>close</md-icon></md-button>

      </div>
    </md-toolbar>

    <md-dialog-content layout="column" flex style="padding: 12px;">

      <div layout="row" class="contact-field" flex>
        <div class="field-icon"></div>
        <md-input-container flex>
          <label>Email</label>
          <input required name="name" ng-model="$ctrl.data.email" type="text" />
        </md-input-container>
        <div class="action-icons"></div>
      </div>


      <div layout="row" class="contact-field" flex>
        <div class="field-icon"></div>
        <md-input-container flex>
          <label>Password</label>
          <input name="password" ng-model="$ctrl.data.password" type="password" />
        </md-input-container>
        <div class="action-icons"></div>
      </div>

      <div layout="row" class="contact-field" flex>
        <div class="field-icon"></div>
        <md-input-container class="md-block" flex >
          <label>Confirm Password</label>
          <input compare-to="$ctrl.data.password" name="confirmPassword" ng-model="$ctrl.data.confirmPassword" type="password" />
            <div ng-messages="signupForm.confirmPassword.$error" role="alert">
                <div ng-message="errorCompareTo">Passwords do not match.</div>
            </div>
        </md-input-container>
        <div class="action-icons"></div>
      </div>



     


    <md-dialog-actions layout="row" class="layout-row">

      <button class="md-button md-ink-ripple" type="button" ng-click="$ctrl.cancel()"><span class="ng-scope">
       Cancel
      </span></button>
      <button class="md-button md-ink-ripple" type="button" ng-click="$ctrl.save()"><span class="ng-scope">
        Save
      </span></button>
    </md-dialog-actions>
  </form>
</md-dialog>