<!-- form-profile.html -->

<!--<div flex-xs="" flex-gt-xs="50" layout="column">-->
<form external-submit id="primaryForm" name="primaryForm" ng-submit="$ctrl.upload()" enctype='multipart/form-data'>
  <main class="card-collection">


    <div class="col-md-6">
      <div class="card">
          <div class="card-header card-header-icon" data-background-color="green">
              <i class="material-icons">person</i>
          </div>
          <div class="card-content">
              
              <div layout="row">
                <div flex>
                  <a href="#" ng-click="$ctrl.guestList()">
                    <span class="event-going">1 Going</span> <span>&nbsp;·&nbsp;</span>
                    <span class="event-intersted">5 Interested</span>
                  </a>
                </div>
                <div flex="1">
                  <button class="btn btn-primary btn-xs" ng-click="$ctrl.invite()">
                    Invite
                    <div class="ripple-container"></div>
                  </button>
                </div>
              </div>
          </div>
      </div>
    </div>
  
  </main>
  
  <input type="hidden" name="context" value="$ctrl.context"/>
  
</form>
