<md-dialog aria-label="Edit group" class="edit-group">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
          <div class="profile-graphic abstract-profile-graphic" flex="none">
            <span ng-show="$ctrl.item.name">{{ $ctrl.item.name | InitialFilter }}
            </span>
          </div>
          <h2>
            <span ng-hide="$ctrl.item.id">
              New event
            </span>
            <span ng-show="$ctrl.item.id">
              {{ $ctrl.item.name}}
            </span>

          </h2>
        <span flex="" class="flex"></span>

        <md-button class="md-icon-button" aria-label="Close" md-dialog-close ng-click="$ctrl.cancel()"><md-icon>close</md-icon></md-button>


      </div>
    </md-toolbar>

    <md-dialog-content flex>

        <form>

        
        <div layout="column">           
            

            <md-input-container>
              <label>Event name</label>
              <input required name="name" ng-model="$ctrl.item.name" type="text" />
            </md-input-container>

            <md-input-container>
              <label>Description</label>
              <textarea ng-model="$ctrl.item.description" md-maxlength="400" rows="1" md-select-on-focus></textarea>
            </md-input-container>

            <md-input-container>
              <label>Location</label>
              <input name="location" ng-model="$ctrl.item.location" type="text" />
            </md-input-container><br>


            <div layout="row">

              <md-input-container  flex-gt-xs="33" class="date-picker">
                <label>Start Date</label>
                <md-datepicker ng-model="$ctrl.item.start_date" md-current-view="year"></md-datepicker>

              </md-input-container>
        

              <md-input-container>
                <input mdc-datetime-picker date="false" time="true" type="text" id="time" short-time="true"
                       show-todays-date
                       placeholder="Time"
                       min-date="minDate"
                       format="hh:mm a"
                       ng-change="vm.saveChange()"
                       ng-model="$ctrl.item.start_time">
              </md-input-container>

              <md-input-container  flex>
                  <md-button ng-hide="$ctrl.ShowEndDateDialog" ng-click="$ctrl.ShowEndDateDialog = true;">+ End time </md-button>
              </md-input-container>

            </div><br>

            <div layout="row" ng-show="$ctrl.ShowEndDateDialog">
              <md-input-container  flex-gt-xs="33" class="date-picker">
                <label>End Date</label>
                <md-datepicker ng-model="$ctrl.item.end_date" md-current-view="year"></md-datepicker>
              </md-input-container>


              <md-input-container>
                <input mdc-datetime-picker date="false" time="true" type="text" id="time" short-time="true"
                       show-todays-date
                       placeholder="Time"
                       min-date="minDate"
                       format="hh:mm a"
                       ng-change="vm.saveChange()"
                       ng-model="$ctrl.item.end_time">
              </md-input-container>


              <md-input-container flex>
                  <md-button ng-click="$ctrl.removeEndDate();">Remove</md-button>
              </md-input-container>

            </div>  


        </div>

        </form>
    </md-dialog-content>


    <md-dialog-actions layout="row" class="layout-row">
      

      <button class="md-button md-ink-ripple" type="button" ng-click="$ctrl.remove()">
      <span class="ng-scope" ng-show="$ctrl.item.id">
       Delete Event
      </span>
      </button>

      <span flex="" class="flex"></span>

      <button class="md-button md-ink-ripple" type="button" ng-click="$ctrl.cancel()"><span class="ng-scope">
       Cancel
      </span></button>
      <button class="md-button md-ink-ripple" type="button" ng-click="$ctrl.save()"><span class="ng-scope">
        Save
      </span></button>
    </md-dialog-actions>
  </form>
</md-dialog>
