<md-dialog aria-label="Invite" class="event-invite">
  <form ng-submit="$ctrl.save()">


    <md-dialog-content flex>

        
        <div layout="column">           
          
            <div>
              <div class="col-md-4"  ng-repeat="item in $ctrl.items" data-item-id="{{item.id}}" id="member-{{item.id}}">
                  <div class="checkbox">
                      <label style="color: black;">
                          <input type="checkbox" ng-click="$ctrl.toggleItem(item)">
                           {{item.person.first_name}} {{item.person.last_name}}
                      </label>
                  </div>
              </div>
            </div>


        </div>

    </md-dialog-content>


    <md-dialog-actions layout="row" class="layout-row">
      
      <span flex="" class="flex"></span>

      <button class="swal2-confirm btn btn-danger md-ink-ripple" type="button" ng-click="$ctrl.cancel()"><span class="ng-scope"> Cancel </span> </button>
      
      <button class="swal2-cancel btn btn-success md-ink-ripple" type="submit"><span class="ng-scope"> Invite </span></button>


      <span flex="" class="flex"></span>


    </md-dialog-actions>
  </form>
</md-dialog>
