<md-dialog aria-label="Edit task" class="edit-dialog edit-task" layout="column">
  <form ng-submit="$ctrl.save()" layout="column" flex>
    <md-dialog-content layout="column" flex>
        
        <div layout="column" layout-gt-xs="row">           
            
            <div class="input-wrapper" flex-gt-xs="66"> 
              <md-input-container>
                <label>Task</label>
                <input required name="name" ng-model="$ctrl.item.label" type="text" />
              </md-input-container>
            </div>

            <div class="input-wrapper" flex-gt-xs="33" >
              <md-input-container class="date-picker">
                <label>Due date</label>
                <md-datepicker ng-model="$ctrl.item.due_date"></md-datepicker>
              </md-input-container>
            </div> 


        </div>

        <div layout="column" layout-gt-xs="row">

          <div class="input-wrapper" flex-gt-xs="100" > 

            <md-input-container>
              <label>Bullet points</label>
              <md-chips 
                  class="task-bullet-points"
                  ng-model="$ctrl.item.bullet_points"
                  md-removable="true"
                  placeholder="+ Add a bullet"
                  delete-button-label="Remove"
                  delete-hint="Press delete to remove bullet point"
                  secondary-placeholder="+ Add a bullet"></md-chips>

              </md-input-container>

<!--                  <div class="col-md-12 task-bullet-points">

                    <md-list-item ng-repeat="b in item.bullet_points">
                      <span class="bullet-point-icon">•</span>
                      <span class="bullet-point-label" flex>{{b}}</span>
                      <md-button ng-click="$ctrl.removeBullet(item,$index)"><md-icon>clear</md-icon></md-button>
                    </md-list-item>

                    <md-list-item>
                      <md-input-container  md-no-float class="task-input-container">
                        <form ng-submit="$ctrl.addBullet(item,item._add_bullet_text)"> 
                          <input placeholder="+ Bullet point" ng-model="item._add_bullet_text">
                        </form>
                      </md-input-container>
                  </md-list-item>

                </div> -->
          </div>

        </div>


        <div layout="column">
            
           <div class="input-wrapper" flex> 
              <md-input-container>
                <label>Assign to</label>
                <md-chips required 
                      md-transform-chip="$ctrl.transformChip($chip)"
                      ng-model="$ctrl.item.assignees" md-autocomplete-snap md-require-match="true">
                
                      <md-autocomplete
                          md-selected-item="$ctrl.selectedItem"
                          md-search-text="$ctrl.searchText"
                          md-items="item in $ctrl.querySearch($ctrl.searchText)"
                          md-item-text="item.person.first_name + ' ' + item.person.last_name"

                          placeholder="+ Add person">

                          <md-item-template>
                            <div layout="row" layout-align="center">
                                <div class="abstract-profile-graphic" flex="none">
                                  <span>{{item.person.last_name | InitialFilter }}</span>
                                </div>
                                <div flex>
                                    <span md-highlight-text="$ctrl.searchText" md-highlight-flags="^i">
                                    {{item.person.first_name}} {{item.person.last_name}}
                                    </span>
                                </div>
                            </div>

                          </md-item-template>
                      </md-autocomplete>

                      <md-chip-template>
                        <span>
                          {{$chip.person.first_name}} {{$chip.person.last_name}}
                        </span>
                      </md-chip-template>
                </md-chips>

              </md-input-container>
            </div>

        </div>

        <div layout="column" layout-gt-xs="row">
            <div class="input-wrapper"> 
                <div class="checkbox" >
                  <label>
                      <input type="checkbox" ng-model="item.accept_volunteers">
                      Accept volunteers
                  </label>
                </div>
            </div>
            <div class="input-wrapper" ng-show="item.accept_volunteers" style="width: 150px;"> 
              <md-input-container>
                <label>How many?</label>
                <input type="number" ng-model="$ctrl.item.max_assignees" type="text"  step="any" min="0" max="12" class="text-center"/>
              </md-input-container>
            </div>
        </div>

    </md-dialog-content>


    <md-dialog-actions layout="row" class="layout-row">


      
      <span flex="" class="flex">
        <div class="input-wrapper"> 
          <div class="checkbox" >
            <label>
                <input type="checkbox" ng-model="$ctrl.item.archived">
                Archived
            </label>
          </div>          
        </div>
      </span>

      <button class="swal2-confirm btn btn-danger md-ink-ripple" type="button" ng-click="$ctrl.cancel()"><span class="ng-scope"> Cancel </span> </button>
      
      <button class="swal2-cancel btn btn-success md-ink-ripple" type="submit"><span class="ng-scope"> Save </span></button>


      <span flex="" class="flex"></span>


    </md-dialog-actions>
  </form>
</md-dialog>
