<!-- content -->
<md-content class="profile organization-profile" layout="row">

    <!-- column 1 -->
    <div flex="25" layout="column">

        <!-- Doxa Profile Widget -->
        <md-card dxw-organization-profile class="profile-widget organization-profile card">
            <div class="profile-banner profile-banner-sm" 
            style="background-image: url({{$ctrl.organization.profile.bannerPhoto}});">
            </div>
            <div class="profile-image profile-image-sm">
                <img ng-src="{{$ctrl.organization.profile.profilePhoto}}"></img>
            </div>
            <div class="star-rating">
                Star Rating
            </div>
            <div class="organization-name">
                Church Name
            </div>
            <div class="tagline">
                Lead by pastor ....
            </div>

            {{$ctrl.organization.profile.profilePhoto}}
        </md-card>

        <!-- Event Calendar -->
        <md-card flex>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">July 2014</span>
              </md-card-title-text> 
            </md-card-title>
            <md-card-content layout="column">

                <div>
                    Calendar
                </div>

                <!-- UPCOMING EVENT -->
                <div layout="column">
                    <div>Annual Bakesale</div>

                    <div>Our annual charity bakesale.</div>

                    <div>56 People Attending</div>
                </div>

                <div layout="row">
                    <div>Prev</div>
                    <div flex></div>
                    <div>Next</div>
                </div>

            </md-card-content>
        </md-card>
    </div>

    <!-- column 2 -->
    <div flex="50" layout="column">

        <!-- TESTIMONIES -->
        <md-card class="module testimonies-module">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Testimonies</span>
              </md-card-title-text> 
            </md-card-title>
            <md-card-content layout="column">

                <div layout="row">
                    <div>Prev</div>
                    <div class="testimonies-title" flex>Michael's incident on a trip to Australia</div>
                    <div>Next</div>
                </div>

                <div layout="row" layout-xs="column">
                    <div flex="20">Photo</div>
                    <div flex="40">Quotation</div>
                    <div flex="40">Album</div>
                </div>

            </md-card-content>
        </md-card>
        <!--// END TESTIMONIES -->


        <!-- WORSHIP TIMES -->
        <md-card class="module worship-times-module">

            <md-card-content layout="row">

                <div layout="column" flex="50">
                    <div>Location</div>
                    <div flex>Map</div>
                </div>

                <div layout="column" flex="50">
                    <div>Worship Times</div>

                    <div>
                        <div>Every Sunday</div>
                        <div>9:00AM - 11:00AM</div>
                    </div>

                    <div>
                        <div>Every Wednesday</div>
                        <div>7:00PM - 9:00PM</div>
                    </div>


                </div>

            </md-card-content>
        </md-card>
        <!--// WORSHIP TIMES -->
    </div>


    <div flex="25" layout="column">
        <md-card flex> 
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Subscribe</span>
                <span class="md-subheadline">to Newsletter</span>
              </md-card-title-text> 
            </md-card-title>
            <md-card-content layout="column">

                <md-input-container class="md-block">
                  <label>Enter your email</label>
                  <input required name="email" ng-model="$ctrl.organization.contacts[0].address" type="email" />
                </md-input-container>

                <md-button class="md-primary">Subscribe</md-button>

            </md-card-content>
        </md-card>

        <md-card flex> 
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Sign in / Sign up</span>
              </md-card-title-text> 
            </md-card-title>
            <md-card-content layout="column">

                <md-input-container class="md-block">
                  <label>Email</label>
                  <input required name="email" ng-model="$ctrl.organization.contacts[0].address" type="email" />
                </md-input-container>

                <md-input-container class="md-block">
                  <label>Password</label>
                  <input required name="password" ng-model="$ctrl.organization.contacts[0].address" type="password" />
                </md-input-container>

                <md-button class="md-primary">Sign in</md-button>

                <md-button class="md-primary">Sign up</md-button>

            </md-card-content>
        </md-card>

    </div>





    
</md-content>