// @import url('https://fonts.googleapis.com/css?family=Roboto');
// @import url('https://fonts.googleapis.com/css?family=Muli');
// 
// /* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('../fonts/material-icons.woff2'), url(http://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.fixed-appbar .appbar {
    position: fixed;
}

.fixed-appbar {
    md-content {
        margin-top: 48px;
    }
}


.card-toolbar .search-wrapper {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    width: 300px;
    max-width: 100%;
}

/** NEW FORMATTING **/
.sidebar .sidebar-wrapper, .off-canvas-sidebar .sidebar-wrapper {
    height: auto;
    max-height: 100%;
    overflow-x: hidden!important;
    overflow-y: hidden!important;
}


.btn.btn-fab-fixed {
    position: fixed;
    right: 18px;
    bottom: 18px;
}


.swal2-modal form {
    text-align: left;
}

/**
.main-panel {
    max-height: auto;
    height: auto;
}**/



/**
 * Customize form field styles
 */

.date-picker {
    padding-right : 18px;
    margin-top    : 0px !important;

    label {
        left  : 33px !important;
        right : 0 !important;
        width : calc(100% - 33px) !important;
    }

    md-datepicker {
        display     : inline-block;
        width       : 100%;
        margin-left : 26px;
        height      : 0;

        .md-datepicker-button {
            float       : left;
            margin-top  : -28px;
            margin-left : -33px;
        }

        .md-datepicker-input-container {
            width : 100%;
            top   : -14px;
            right : 17px;

            .md-datepicker-input {
                max-width : 100% !important;
                min-width : 100% !important;
            }

            .md-datepicker-expand-triangle {
                border-left  : 4px solid transparent;
                border-right : 4px solid transparent;
                border-top   : 4px solid;
            }
        }
    }

    .md-input-messages-animation {
        .md-input-message-animation {
            opacity     : 1;
            margin-top  : 6px !important;
            margin-left : 34px !important;
        }
    }
}

.md-select-placeholder {
    font-weight: bold;
}



/*
 * General styles to apply to item lists
 */
// .item-row {
//     display: table-row;
// }

.item-row:hover {
    background: orange;
}

.item-row > div {
    line-height: 48px;
}

.md-button.item-row {
    text-align: left;
    text-transform: none;
    margin-left: 0px;
    margin-right: 0px;
}

.item-actions .md-button {
    padding: 0px;
    margin: 0px;
}

.item-actions {
    visibility: hidden;
}

.item-row:hover .item-actions {
    visibility: visible;
}


.members-list .abstract-first-initial {
    color: #2a56c6;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
    width: 24px;
    padding: 17px 0px;
}

.abstract-profile-graphic,
.abstract-graphic-id {
    text-align: center;
    width: 36px;
    height: 36px;
    color: white;
    background: orange;
    border-radius: 50%;
    line-height: 36px !important;
    font-size: 18px;
    font-weight: 500;
    margin: 6px;
}

.abstract-profile-graphic-md {
    height: 72px;
    width: 72px;
    font-size: 36px;
    line-height: 72px !important;
}

.abstract-profile-graphic-lg {
    height: 108px;
    width: 108px;
    font-size: 54px;
    line-height: 108px !important;
}


.members-list .abstract-graphic-id {
    margin-right: 12px;
}


.members-list .item-row .display-name {
    width: auto;
}

.members-list .item-actions {
    width: 98px;
}


md-dialog.member md-toolbar .abstract-graphic-id {
    width: 48px;
    height: 48px;
    line-height: 48px !important;
    font-size: 24px;
    border-radius: 50%;
    border: blue 2px;
    margin: 24px;
}

md-dialog.member .md-toolbar-tools {
    height: 120px;
    max-height: 120px;
}

md-dialog.member md-dialog-content {
    margin-top: 140px;
    min-width: 600px;
    max-width: 100%;
    padding: 12px;
}

md-dialog.user md-dialog-content {
    margin-top: 80px;
    min-width: 600px;
    max-width: 100%;
    padding: 12px;
}


md-dialog.member md-dialog-content div.field-icon {
    width: 80px;
}

md-dialog.member md-dialog-content div.action-icons {
    width: 120px;
}


md-dialog md-input-container {
    margin-bottom: 10px;
    width: 100%;
}

md-dialog .md-errors-spacer {
    display: none;
}




contact-input .field-icon {
    width: 80px;
    text-align: center;
}
contact-input .field-icon md-icon {
    line-height: 60px;
}
contact-input .action-icons {
    width: 120px;
}


md-input-container.md-grey-theme:not(.md-input-invalid).md-input-has-value label {
 color: rgba(0,0,0,0.54);
}

md-select-value, .md-select-placeholder {
    font-weight: normal;
}



.profile-banner {
    background-size: cover;
}

.profile-banner-sm {
    height: 150px;
}

.profile-widget .profile-image {
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    height: 90px;
    margin-top: -45px;
    border-radius: 50%;
    background: lightblue;
    border: 10px solid white;
}

.profile-widget .profile-image img {
    width: 100%;
}

// md-side-nav {
//     width: 260px;
// }


@darkPrimaryColor:   #455A64;
@primaryColor:       #607D8B;
@lightPrimaryColor:  #CFD8DC;
@textPrimaryColor:   #FFFFFF;
@accentColor:        #E040FB;
@primaryTextColor:   #212121;
@secondaryTextColor: #757575;
@dividerColor:       #BDBDBD;


// md-card-content {
//     padding: 32px 16px;
// }

// body,
// md-content {
//     background: #CFD8DC;
// }

md-grid-list.group-members  md-grid-tile {
    border-radius: 36px;
    background-color: white;
}

md-grid-list.group-members  md-grid-tile figure {
    padding: 18px;
}

md-grid-tile.group-member .member-details {
    margin-left: 18px;
}



md-dialog + md-content {
    margin-top: 32px;
}

@media screen and (min-width: 600px) {
    md-dialog {
        min-width: 600px;
    }
}
@media screen and (min-width: 500px) {
    md-dialog.guest-list {
        min-width: 500px;
    }
}

.item-actions .btn {
    margin: 0px;
    padding: 5px;
}

md-toolbar + md-dialog-content {
    margin-top: 36px;
}


md-dialog md-input-container {
    margin-top: 18px;
}

@media screen and (min-width: 600px) {
    .input-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
}

md-dialog md-input-container.date-picker {
    margin-top: 18px!important;
}

md-dialog md-dialog-content {
    padding: 16px 16px;
}

md-dialog-actions {
    padding-bottom: 18px;
}

md-dialog-actions button.btn {
    margin-left: 5px;
    margin-right: 5px;
}

md-dialog.md-content-overflow .md-actions,
md-dialog.md-content-overflow md-dialog-actions {
    border-top: 0px none;
}


md-toolbar .profile-graphic + h2 {
    margin-left: 16px;
}

.profile-content .description {
    margin-top: 18px;
    font-style: italic;
    font-color: grey;
}


.btn-icon {
    padding: 6px;
}

.btn-icon .material-icons {
    font-size: 24px;
}

md-input-container .md-input, 
md-input-container .md-select-value {
    border: 0px;
    background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input, 
md-input-container:not(.md-input-invalid).md-input-focused .md-select-value {
    border: 0;
    background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 100% 2px, 100% 1px;
    box-shadow: none;
    transition-duration: 0.3s;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input,
md-input-container:not(.md-input-invalid).md-input-focused .md-select-value 
{
    border: 0;
    background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 100% 2px, 100% 1px;
    box-shadow: none;
    transition-duration: 0.3s;
}

md-input-container.md-input-invalid .md-input,
md-input-container.md-input-invalid .md-select-value 
{
    background-image: linear-gradient(#dd2c00, #dd2c00), linear-gradient(#D2D2D2, #D2D2D2);
}

md-input-container.md-input-invalid.md-input-focused .md-input,
md-input-container.md-input-invalid.md-input-focused .md-select-value 
 {
    border: 0;
    background-image: linear-gradient(#dd2c00, #dd2c00), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 100% 2px, 100% 1px;
    box-shadow: none;
    transition-duration: 0.3s;
}

.card-signup .card-content {
    padding: 0px 30px 0px 10px;
}

.register-page .free-trial {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin: 0px;
    text-transform: uppercase;
}

.card-signup {
    margin-top: 0px;
}

.register-page .card-login {
    // height: 100%;
}

.register-page .card-signup {
    margin-bottom: 0px;
}

.register-page .btn-admin {
    margin-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: 0px;
}

.register-page .btn-member {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 0px;
}

.register-page {
    background-image:  url("../../assets/images/register.jpeg") ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.register-page .card-login .card-header,
.register-page .card-login .card-content  {
    margin-bottom: 22px;
}

// .register-page img.logo {
//     width: 80%;
//     margin-top: 50%;
//     max-width: 280px;
// }


@media screen and (min-width: 992px) {
    .register-page img.logo {
        width: 80%;
        margin-top: 50%;
        max-width: 280px;
    }
}

.full-page:after, .full-page:before {
    position: fixed;
}

.no-floating-label > label {
    display: none;
}

.md-chips .md-chip-input-container input {
    background: transparent !important;
    background-image: none  !important;
}

// md-chips.task-bullet-points md-chip,
// md-chips.task-bullet-points .md-chip-input-container {
//     clear: both;
// }

@media screen and (max-width: 768px) {

    .register-page .large-logo-wrapper {
            display: none;
    }

}

.no-text-transform {
    text-transform: none;
}

md-input-container.task-input-container {
    margin: 0px;
    width: 100%;
}

md-input-container.task-input-container .md-errors-spacer { 
    display: none;
}

.task-status.status-incomplete {
    color: #f44336;
}
.task-status.status-pending {
    color: #FFC107;
}
.task-status.status-complete {
    color: #4caf50;
}

.search-group-or-event label {
    display: none;
}

.search-group-or-event md-input-container {
    margin: 3px 0px 0px 0px;
}

.checkbox label,
.task-bullet-points  {
    color: rgba(0,0,0, 0.6);
}
.bullet-point-icon {
    padding: 8px;
}
.bullet-point-label  {
    margin-top: 8px;
}
.task-bullet-points md-list-item,
.task-assignees md-list-item {
    padding-right: 0px;
}

.task-bullet-points md-list-item button,
.task-assignees md-list-item button {
    margin: 0px;
    padding: 0px;
    width: auto;
    min-width: 0px;
}

.active-task {
    background:  rgba(158,158,158,0.2);
}

.md-button.compact-button {
    margin: 0px;
    padding: 0px;
    width: auto;
    min-width: 0px;
}

.md-button.compact-button md-icon {
    margin: 0px;
    width: auto;
    min-width: 0px;
}

.task-widget-speed-dial {
    position: absolute;
    top: -30px;
    right: -15px;
}

.task-widget .task-widget-speed-dial {
    // display: none;
}

.task-widget:hover .task-widget-speed-dial {
    display: block;
}