<div flex-fill class="fixed-appbar">
    <div class="clearfix"></div>
    <form external-submit id="signup-form" name="signupForm" ng-submit="$ctrl.registerOrganization(signupForm.$valid)" method="post">
    <ng-include src="'register.appbar.html'" ></ng-include>
    
    <div flex layout="row" class="dashboard">
    
        <!-- Container #4 -->
        <md-content flex id="dashboard-content" class="md-padding" layout="column">
           
    
            <md-card style="max-width: 800px">
                <md-card-content>
                
                <div layout="column">
                      
                    <div layout="column" layout-gt-xs="row">
                        <md-input-container flex-gt-xs="66">
                          <label>Church or Organization Name</label>
                          <input required name="title" ng-model="$ctrl.formData.title" type="text" />
                        </md-input-container>
                        
                        <md-input-container flex-gt-xs="auto">
                            <label>Size</label>
                            <md-select required name="size" ng-model="$ctrl.formData.size">
                            <md-option ng-repeat="item in $ctrl.organizationSizeOptions" value="{{item.value}}">
                              {{item.display}}
                            </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    
                    
                    <div layout="column" layout-gt-xs="row">
                        <select-country ng-model="$ctrl.formData.country" flex-gt-xs="66" required></select-country>
        
                    
                        <md-input-container class="md-block" flex-gt-xs="auto">
                              <label>Telephone</label>
                              <input required name="telephone" ng-model="$ctrl.formData.telephone" type="telephone" />
                        </md-input-container>
                        
                    </div>
                        
                    
                    <div layout="column">
                      
                        <md-input-container class="md-block">
                          <label>Email</label>
                          <input required name="email" ng-model="$ctrl.formData.email" type="email" />
                        </md-input-container>
                
                
                        <md-input-container class="md-block">
                          <label>Password</label>
                          <input required name="password" ng-model="$ctrl.formData.password" type="password" />
                        </md-input-container>
                        
                        <md-input-container class="md-block" >
                          <label>Confirm Password</label>
                          <input compare-to="$ctrl.formData.password" required name="confirmPassword" ng-model="$ctrl.formData.confirmPassword" type="password" />
                            <div ng-messages="signupForm.confirmPassword.$error" role="alert">
                                <div ng-message="errorCompareTo">Passwords do not match.</div>
                            </div>
                        </md-input-container>

                    </div>
                </div>

                </md-card-content>
            </md-card>
            
        </md-content>
        </form>
    </div>
    
    <style>
        md-input-container {
            margin-bottom: 0px;
        }
        md-select .md-select-value.md-select-placeholder {
            font-weight: bold;
        }
        @media screen and (max-width: 600px) {
            md-autocomplete {
                margin-top: 18px;
            } 
        }
        body.md-toast-animating { overflow: auto !important; }
    </style>
</div>