{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Doxa</title>
     {% include 'stylesheets.html' %}
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>

<body>
    <nav class="nav-bar">
    <div class="navbar-header">
    <a class="navbar-logo" target="_self" tabindex="-1" href="/">
    Soul Winner
    </a>
    <a class="navbar-logo-small" href="/">
        <img src="img/mapmarkers/fm-map-marker-pink.svg" alt="Soul Winner" id="marker-logo-small">
    </a>
    </div>
    <div class="nav-right-options">
    <div account-widget="">
        <!-- ngIf: !isLoggedIn --><a ng-if="!isLoggedIn" class="action-link ng-scope" ng-click="login()"><span class="link-text">Log In</span></a><!-- end ngIf: !isLoggedIn -->
        <!-- ngIf: !isLoggedIn --><a ng-if="!isLoggedIn" class="action-link ng-scope" ng-click="signup()"><span class="link-text">Sign Up</span></a><!-- end ngIf: !isLoggedIn -->
    </div>
    </div>
    </nav>
    
    {% block content %}
        Welcome to Doxa, your life online.
    {% endblock %}
    

</body>

</html>