<nav class="navbar navbar-default" role="navigation" ng-controller="NavbarController as vm">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/" tabindex="-1">Soul Winner</a>
    </div> <!-- ./navbar-header -->

    <div class="collapse navbar-collapse" id="doxa-nav">
      <ul class="nav navbar-nav pull-right">
        {% if user.is_authenticated %}
          <li><a href="/+{{ user.email }}">+{{ user.email }}</a></li>
          <li><a href="/+{{ user.email }}/settings">Settings</a></li>
          <li><a href="javascript:void(0)" ng-click="vm.logout()">Logout</a></li>
        {% else %}
          <li><a href="/register">Sign Up</a></li>
          <li><a href="/login">Log In</a></li>
        {% endif %}
      </ul>
    </div> <!-- /.collapse.navbar-collapse -->
  </div> <!-- /.container-fluid -->
</nav>