{% load staticfiles %}
<link href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans:400,300,600|Open+Sans+Condensed:300,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css" >
<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" >

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/angular-ui/build/angular-ui.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.css' %}" />



<!-- Our theme -->
<link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}" />
