md-toolbar {
    position: fixed;
}

#dashboard-content {
    margin-top: 48px;
}

@media screen and (min-width: 960px) {
    #dashboard-content {
        margin-top: 64px;
    }
}


.cozy md-card-title {
	display: none;
}

.cozy md-card md-card-title + md-card-content {
    padding-top: 32px;
}

md-input-container {
    margin: 0px 0;
}

md-card.group-profile h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

md-card.group-profile .profile-content {
    paddin-top: 18px;
    padding-left: 18px;
}

md-card.group-profile md-card-actions {
    margin-top: -12px;
    margin-right: -12px;
}

md-card.group-profile md-card-actions a {
    margin-right: 0px;
}

.member-details h3 {
    margin: 0px;
    padding: 8px 0px;
}

md-card.group-members:hover {
    box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.2), 
                0px 1px 1px 0px rgba(0, 0, 0, 0.14),
                4px 4px 1px -1px rgba(0, 0, 0, 0.12);
    -webkit-transition: box-shadow 250ms;
    cursor: pointer;
}
md-checkbox.md-checked .md-icon {
    background: rgb(186,104,200);;
}
md-list md-checkbox  {
    margin-bottom: 0px;
}

md-button.compact {
    min-width: auto;
}

md-input-container.md-input-has-value.hidden-label label,
md-input-container.md-input-focused.hidden-label label {
    display: none;
}