md-toolbar {
    position: fixed;
}

#dashboard-content {
    margin-top: 48px;
}

@media screen and (min-width: 960px) {
    #dashboard-content {
        margin-top: 64px;
    }
}


.cozy md-card-title {
	display: none;
}

.cozy md-card md-card-title + md-card-content {
    padding-top: 16px;
}